@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Andreas Bank</h1>
<hr />
<h3>Kunder och konton</h3>
<dl>
    @foreach (var customer in Model)
    {
        <dt>@customer.Name's konton</dt>
        <dd>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Saldo</th>
                        <th>Kredit</th>
                        <th>Disponibelt</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in customer.Accounts)
                    {
                        <tr>
                            <td>@account.Id</td>
                            <td>@account.Balance.ToString("C")</td>
                            <td>@account.Credit.ToString("C")</td>
                            <td>@((account.Balance + account.Credit).ToString("C"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    }
</dl>
